<article class="outer_container">
  <section class="step_content">
    <label>Phone Interview</label>
    <input type="radio" ng-model="job.interview" value="phone">
    <label>Video Interview</label>
    <input type="radio" ng-model="job.interview" value="video">
    <label>In-Person Interview</label>
    <input type="radio" ng-model="job.interview" value="person">
    <label>Other</label>
    <input type="radio" ng=model="job.interview" value="other">
    <button data-ng-click"update(job.interview)" class="primary_button">Save</button>
  </section>
</article>
