<form name="newJobForm">
<label>Title</label>
<input type="text" data-ng-model-"product.title">
<label>URL</label>
<input data-ng-model-"product.url">
<label>Company Name</label>
<input data-ng-model-"product.company_name">
<label>Apply by</label>
<input type="date" data-ng-model-"product.due_date">
<label>How did you find it?</label>
<input type="text" data-ng-model-"product.type">
<label>Title</label>
<input type="text" data-ng-model-"product.title">
<button data-ng-dasabled="newJobForm.$invalid" data-ng-click="create(job" class="primary_button">Create Job</button>